/* Regular */
@font-face {
  font-family: 'CMU Sans Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/computer-modern/cmunss.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'CMU Sans Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/computer-modern/cmunsx.ttf') format('truetype');
}

/* Italic */
@font-face {
  font-family: 'CMU Sans Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/computer-modern/cmunsi.ttf') format('truetype');
}

/* Bold Italic */
@font-face {
  font-family: 'CMU Sans Serif';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/computer-modern/cmunso.ttf') format('truetype');
}

a {
  color: #B509AC;
  text-decoration: none;
}

a:hover {
  color: #B509AC;
  text-decoration: underline;
}

body {
  background-color: var(--bg-color);
    color: var(--text-color);
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  transition: background 0.2s linear;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the container at least the height of the viewport */
}

.content-wrap {
  flex: 1; /* Allow the content to grow and take up available space */
}

/* Address */
.addr-box {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: -0.3em;
  margin-top: 1em;
  /* color: #ccc; */
}

.addr-header {
  font-family: monospace;
  margin-bottom: -0.3em;
  font-size: 16px;
  font-weight: 600;
}

.addr-text {
  font-family: monospace;
  margin-bottom: -0.3em;
  font-size: 14px;
  font-weight: 500;
}

.addr-email {
  font-family: monospace;
  margin-bottom: -0.3em;
  font-size: 12px;
  font-weight: 500;
}

.darkModeBtn {
margin: auto;
width: 2%;
padding: -30px;
}

 /* Navbar CSS begin (light) */
 /* Add a black background color to the top navigation */
 .topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dark-mode .topnav {
  background-color: #1c1c1d;
}

/* Nav content wrapper */
.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px; /* Fixed height for consistency */
}

/* Nav links container */
.nav-links {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Consistent spacing between items */
}

/* Basic link styling */
.topnav a {
  color: #000;
  padding: 0 15px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 100%;
}

.dark-mode .topnav a {
  color: #fff;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: #1f77b4;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #1772d0; */
  color: black;
  font-weight: bolder;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
 /* Navbar CSS end*/


 
/* Navbar CSS begin (dark) */
 /* Add a black background color to the top navigation */
 .dark-mode .topnav {
  background-color: inherit;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.dark-mode .topnav a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 20px 15px 10px 30px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.dark-mode .topnav a:hover {
  /* background-color: #ddd; */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: #1f77b4;
}

/* Add a color to the active/current link */
.dark-mode .topnav a.active {
  /* background-color: #1772d0; */
  color: #fff;
}

/* Navbar CSS end*/
td,
th,
tr,
p,
a {
font-family: "CMU Sans Serif", sans-serif;
font-size: 14px
}

strong {
font-family: "CMU Sans Serif", sans-serif;
font-size: 14px;
}

.socials {
text-align:center;
margin: 3rem 0;
padding: 1rem 0;
position: relative;
width: 100%;
background: inherit;
transition: background 0.2s linear;
}

.socials i {
font-size: 2rem;
margin: 0 1rem;
}

heading {
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 20px;
}

subheading {
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 16px;
}

subsubheading {
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 14px;
}

papertitle {
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 12px;
  font-weight: 700
}

name {
  font-family: "CMU Sans Serif", sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.bd-text {
  text-align: justify;
  line-height: 1.2;
  margin-top: 1.25rem;
}

.bd-text-misc {
  text-align: justify;
  line-height: 1.2;
  margin-top: -.5rem;
  margin-bottom: 0%;
}

/* Counter Styling */
.countup {
  text-align: left;
  margin-bottom: 0px;
}
.countup .timeel {
  display: inline;
  padding: 5px;
  background: #1772d0;
  margin: 0;
  color: white;
  min-width: 2.8rem;
  margin-left: 0px;
  border-radius: 0px 0 10px 0px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 0px 0px 0;
  margin-left: 0;
  background: transparent;
  color: black;
}

.pagediv {
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-top: -1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}

.dark-mode .pagediv {
  width: auto;
  border-bottom: 1px solid #aaa;
  margin-top: -1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}

.headhr {
  width: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px; 
  margin-bottom: 20px;
  margin-top: auto;
}

.dark-mode .headhr {
  width: auto;
  border-bottom: 1px solid #aaa;
  padding-bottom: 15px; 
  margin-bottom: 20px;
  margin-top: auto;
}

.arthr {
width: 40%;
border-bottom: 1px solid #ddd;
padding-bottom: 15px; 
margin-bottom: 20px;
margin-top: auto;
}

.dark-mode .arthr {
  width: 40%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 15px; 
  margin-bottom: 20px;
  margin-top: auto;
}

/* Base styling for the GIF containers */
.embed-responsive {
  max-width: 300px;
  margin: 0 auto;
}

/* Media queries for responsive sizing */
@media only screen and (max-width: 768px) {
  .embed-responsive {
      max-width: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .embed-responsive {
      max-width: 150px;
  }
  
  .embed-responsive-item {
      width: 100%;
      height: auto;
  }
  
  .col-md-4 {
      margin-bottom: 2rem;
  }
}

/* CV-specific styling */
.cv-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.cv-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .cv-container {
      height: calc(100vh - 120px);
  }
  
  .cv-frame {
      height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .cv-container {
      height: calc(100vh - 100px);
  }
}

.section {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.section h2 {
  color: var(--theme-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timeline-item {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.cv-year-badge {
  background-color: var(--bg-color);
  color: var(--theme-primary);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--theme-primary);
  border-radius: 4px;
  font-size: 0.9rem;
  height: fit-content;
}

.author-name {
  font-weight: bold;
}

.social-link {
  color: var(--theme-primary);
  text-decoration: none;
}

.social-link:hover {
  color: var(--theme-secondary);
  text-decoration: none;
}

/* CV Download Button */
.cv-download-btn {
  top: 40px;  
  z-index: 1000;
  float: left;
  margin-left: -10rem;
}

.cv-download-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--theme-primary);
  text-decoration: none;
  padding: 10px;
  transition: transform 0.2s;
}

.cv-download-btn a:hover {
  transform: scale(1.1);
  color: var(--theme-primary);
}

.download-text {
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
}

/* Media Query for mobile */
@media (max-width: 768px) {
  .cv-download-btn {
      top: 0px;
      float: left;
      margin-left: -2rem;
      margin-top: 0rem;
  }

  .download-text {
    font-size: .5rem;
    margin-top: 0px;
    text-align: center;
  }
}

/* CV-specific styles */
.cv-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* CV section headings */
.cv-title {
  font-size: 2rem;
  color: var(--theme-primary);
  text-align: center;
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 1.5rem;
  color: var(--theme-primary);
  margin-top: 2rem;
  margin-bottom: .8rem;
  border-bottom: 2px solid var(--theme-primary);
  padding-bottom: 0.25rem;
}

.subsection-heading {
  font-size: 1.25rem;
  color: var(--theme-primary);
  margin-top: 1.5rem;
  margin-bottom: .8rem;
  border-bottom: 2px solid var(--theme-primary);
  padding-bottom: 0.25rem;
}

.subsubsection-heading {
  font-size: 1.1rem;
  color: var(--theme-primary);
  margin-top: 0;
  margin-bottom: 0;
}

.subsubsection-heading .cv-year {
  color: var(--theme-primary);
  font-weight: 500;
  min-width: 6.5rem;
  margin: 0%;
  padding: 0%;
}

.subsubsection-heading .cv-role {
  color: var(--text-color);
  font-weight: bold;
  margin: 0%;
  padding-left: 1.1rem;
}

.cv-content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.cv-content {
  width: 100%;
  margin: 0 auto;
}

/* CV content elements */
.cv-content p {
  margin-bottom: 1rem;
  line-height: 1.2;
  text-align: justify;
  font-size: 0.9rem;
}

.cv-content ul {
  margin-bottom: 0.5rem;
  padding-left: 1.1rem;
}


.contact-info p {
  font-size: 1.2rem;
  margin: 0;
  margin-top: -.5rem;
}

.contact-info a {
  font-size: 0.9rem;

}

.cv-content li {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0rem;
  /* margin-bottom: 0rem; */
  line-height: 1.2;
}

.cv-year {
  min-width: 6.5rem;
  color: var(--theme-primary);
  font-weight: 500;
  margin-left: 0%;
  padding-left: 0%;
  float: left;
}

.cv-year-season {
  min-width: 6.5rem;
  color: var(--theme-primary);
  font-weight: 500;
  margin: 0%;
  padding: 0%;
  font-size: 0.9rem;
}

.cv-entry-season {
  display: inline-block;
  text-align: left;
  margin-left: 0;
  font-size: 0.9rem;
}

.cv-entry {
  flex: 1;
  padding-left: 1.1rem;
}

.cv-item {
  margin-bottom: 1.5rem;
}

.cv-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cv-role {
  flex: 1;
  font-weight: bold;
  margin-left: 2rem;
}

.cv-description {
  margin-left: calc(100px + 2rem);
}

/* Dark mode adjustments */
.dark-mode .cv-year {
  color: var(--theme-primary);
}

/* Responsive CV styles */
@media screen and (max-width: 768px) {
  .cv-content {
      padding: 1rem;
  }
  
  .cv-title {
      font-size: 1.75rem;
  }


  .contact-info p {
    font-size: 0.8rem;
    margin: 0;
    margin-top: -.35rem;
  }

 .contact-info a {
    font-size: 0.65rem;
  }

  .section-heading {
      font-size: 1.25rem;
  }
  
  .subsection-heading {
      font-size: 1.1rem;
  }

  .subsubsection-heading {
    font-size: 0.9rem;
  }
  
  /* CV content elements */
  .cv-content p {
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 0.8rem;
  }

  .cv-content ul {
    margin-bottom: 0.5rem;
    padding-left: 1.1rem;
    font-size: 0.8rem;
  }

  .cv-content li {
    margin-bottom: 0rem;
    line-height: 1.2;
    font-size: 0.8rem;
  }

  .cv-content a {
    margin-bottom: 0rem;
    line-height: 1.2;
    font-size: 0.8rem;
  }

  
  .subsubsection-heading .cv-year {
    color: var(--theme-primary);
    font-weight: 500;
    min-width: 6.5rem;
    margin: 0%;
    padding: 0%;
    font-size: 0.8rem;
  }
  
  .subsubsection-heading .cv-role {
    color: var(--text-color);
    font-weight: bold;
    margin: 0%;
    padding-left: 1rem;
    font-size: 0.8rem;
  }

  .cv-year-season {
    font-size: 0.8rem;
  }
  
  .cv-entry-season {
    font-size: 0.8rem;
  }
  
  .cv-entry {
    padding-left: 2.2rem;
    font-size: 0.8rem;
  }

  .cv-content .cv-role-content {
    padding-left: 0rem;  
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .cv-content {
      padding: 0.75rem;
  }
  
  .cv-title {
      font-size: 1.5rem;
  }

  .contact-info p {
    font-size: 0.65rem;
    margin: 0;
    margin-top: -.25rem;
  }

 .contact-info a {
    font-size: 0.55rem;
    padding: 0;
  }
  
  .section-heading {
      font-size: 1.1rem;
  }
  
  .subsection-heading {
      font-size: 1rem;
  }

  .subsubsection-heading {
    font-size: 0.8rem;
  }

  .subsubsection-heading .cv-year {
    color: var(--theme-primary);
    font-weight: 500;
    min-width: 6.5rem;
    margin: 0%;
    padding: 0%;
    font-size: 0.8rem;
  }
  
  .subsubsection-heading .cv-role {
    color: var(--text-color);
    font-weight: bold;
    margin: 0%;
    padding-left: 1rem;
    font-size: 0.8rem;
  }

  .cv-year-season {
    font-size: 0.8rem;
  }
  
  .cv-entry-season {
    font-size: 0.8rem;
  }
  
  .cv-entry {
    padding-left: 2.2rem;
  }

  .cv-content .cv-role-content {
    padding-left: 0rem;  
    font-size: 0.8rem;
  }
  
}

/* Dark mode adjustments for CV */
.dark-mode .cv-content {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode .cv-title,
.dark-mode .section-heading,
.dark-mode .subsection-heading {
  color: var(--theme-primary);
}

/* CV Header and Content Alignment */
.subsubsection-heading,
.cv-content li {
    display: flex;
    align-items: flex-start;
}

.cv-year {
    min-width: 120px;
    font-size: 0.9rem;
    color: var(--theme-primary);
    font-weight: 500;
    margin-right: 1rem;
}

.cv-role,
.cv-entry {
    flex: 1;
    font-size: 0.9rem;
    margin-left: -2.5rem;
}

.cv-role {
    font-weight: bold;
}

/* Handle nested lists */
.cv-content ul {
    width: 100%;
    padding-left: 0;
}

.cv-content .cv-role-content {
  padding-left: 7.6rem;  
  font-size: 0.9rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cv-year {
        min-width: 100px;
    }
}

/* Bio Image */
.bio-image-container {
  text-align: center; 
  margin-top: 4em;
}

.bio-image {
  width:80%;
  max-width:80%;
  filter: grayscale(45%) contrast(91%);
  
}

.dark-mode .bio-image {
  width:80%;
  max-width:80%;
  filter: grayscale(45%);
}

/* Add this media query for smaller screens */
@media only screen and (max-width: 768px) {
  .bio-image {
    width: 45%; /* Reduce image width on smaller screens */
    max-width: 45%;
  }
  
  .bio-image-container {
    margin-top: 2em; /* Reduce top margin on smaller screens */
  }

  .dark-mode .bio-image {
    width: 45%; /* Reduce image width on smaller screens */
    max-width: 45%;
  }
  
  .dark-mode .bio-image-container {
    margin-top: 2em; /* Reduce top margin on smaller screens */
  }
}

/* Even smaller screens */
@media only screen and (max-width: 480px) {
  .bio-image {
    width: 40%; /* Further reduce image width on mobile */
    max-width: 40%;
  }

  .dark-mode .bio-image {
    width: 40%; /* Further reduce image width on mobile */
    max-width: 40%;
  }
}

@media only screen and (max-width: 600px) {
.socials {
  text-align: left;
  margin-left: -1.5em;
  margin-right: -3em;
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  transform:scale(0.7);
}

.darkModeBtn{
  margin-left: -5px;
  width: 2%;
  padding: -30px;
  text-align: left;
  /* -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  transform:scale(0.7); */
}

.arthr {
  width: 80%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px; 
  margin-bottom: 20px;
  margin-top: auto;
 }
}

/* Media Queries for Navbar */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("About"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;} /* Change this to  fixed to have persistent navbar */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*  ********************************************************************************* */
/*  ********************************************************************************* */
/* Theme aware css */

  /* Redefine dark mode in dark theme aware css */
/* Dark Mode */
.dark-mode {
  background-color: white;
  color: black;
    
  }

  /* Alter dark mode (light) mode css */
   /* Navbar CSS begin (light) */
 /* Add a black background color to the top navigation */
 .dark-mode .topnav {
  background-color: #fff;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.dark-mode .topnav a {
  float: right;
  color: #000;
  text-align: center;
  padding: 20px 15px 10px 30px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.dark-mode .topnav a:hover {
  /* background-color: #ddd; */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: #1f77b4;
}

/* Add a color to the active/current link */
.dark-mode .topnav a.active {
  /* background-color: #1772d0; */
  color: black;
  font-weight: bolder;
}

/* Hide the link that should open and close the topnav on small screens
.dark-mode .topnav .icon {
  display: none;
} */

@media screen and (max-width: 600px) {
  .dark-mode .topnav.responsive {position: relative;} /* Change this to  fixed to have persistent navbar */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .dark-mode .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
 /* Navbar CSS end* dark theme aware/

  /* Change Navbar (dark becomes default) */
   /* Navbar CSS begin (light) */
 /* Add a black background color to the top navigation */
 .topnav {
  background-color: #1c1c1d;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #fff;
  text-align: center;
  padding: 20px 15px 10px 30px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: #1f77b4;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #1772d0; */
  color: white;
  font-weight: bolder;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
 /* Navbar CSS end*/

/* Default (light mode) link colors */
a {
  color: #B509AC;  /* Default link color */
  text-decoration: none;
}

a:hover {
  color: #B509AC;  /* Hover color for light mode */
  text-decoration: underline;
}

/* Dark mode link colors */
.dark-mode a {
  color: #52BCDC;  /* Brighter blue for dark mode */
  text-decoration: none;
}

.dark-mode a:hover {
  color: #52BCDC;  /* Lighter orange for dark mode hover */
  text-decoration: underline;
}

/* Hide dark mode icon by default */
.dark-mode-icon {
  display: none;
}

/* Show dark mode icon and hide light mode icon when in dark mode */
.dark-mode .dark-mode-icon {
  display: inline-block;
}

.dark-mode .light-mode-icon {
  display: none;
}

/* Navbar container */
.topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dark-mode .topnav {
  background-color: #1c1c1d;
}

/* Nav content wrapper */
.nav-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

/* Nav links container */
.nav-links {
  display: flex;
  align-items: center;
}

/* Basic link styling */
.topnav a {
  color: #000;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.dark-mode .topnav a {
  color: #fff;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  z-index: 1;
}

.dark-mode .dropdown-content {
  background-color: #1c1c1d;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown links */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Mobile menu icon */
.icon {
  display: none;
}

/* Mobile responsive */
@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  
  .icon {
    display: block;
  }
  
  .topnav.responsive .nav-links {
    display: flex;
  }
  
  .nav-content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .dropdown-content {
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  .dropdown {
    width: 100%;
  }
}

/* For default and manual dark mode */
.table td {
    color: black;
    transition: color 0.2s linear;
    line-height: 1.4;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.dark-mode .table td {
    color: white;
}

/* Uniform text sizes */
body, p, td, th, tr, a, li {
    font-size: 16px;  /* Base font size */
}

.navbar-brand {
    font-size: 20px;
    font-weight: 500;
}

.nav-link {
    font-size: 16px;
}

/* Consistent section spacing */
#news {
    margin-bottom: 3rem;  /* Space after news section */
}

.socials {
    text-align: center;
    margin: 1rem 0;  /* Equal spacing above and below socials */
    padding: 1rem 0;
}

footer {
    /* margin-top: 3rem;  Space before footer */
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    /* padding: 1rem 0; Padding for styling */
    margin-top: 2em;
}

/* Make socials sticky across pages */
.socials {
    position: relative;  /* Changed from fixed to allow proper spacing */
    width: 100%;
    background: inherit;  /* Inherit background color for theme compatibility */
    transition: background 0.2s linear;
}

/* Adjust icon sizes in socials for consistency */
.socials i {
    font-size: 2rem;  /* Uniform icon size */
    margin: 0 1rem;   /* Equal spacing between icons */
}

.pb-text {
  text-align: justify;
}
/* Section headings (Submitted/In Review, Peer-Reviewed) */
.submitted-in-review, .peer-reviewed {
    background-color: var(--theme-primary);
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background-color 0.2s linear;
    display: inline-block;
    margin-bottom: .5rem;
}

/* Year badges */
.year-badge {
    background-color: var(--bg-color);
    color: var(--theme-primary);
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background-color 0.2s linear;
    display: block;
    border: 1px solid var(--theme-primary);
    width: max-content;
}

/* Dark mode adjustments */
.dark-mode .submitted-in-review,
.dark-mode .peer-reviewed {
    background-color: var(--theme-primary);
    color: #1c1c1c;
}

.dark-mode .year-badge {
    background-color: transparent;
    color: var(--theme-primary);
    border-color: var(--theme-primary);
}

/* Dark mode colors */
.dark-mode {
    background-color: #1c1c1d;
    color: white;
}

.badge-paper {
    background-color:  rgba(181, 9, 172, 0.18); /* Pastel version of #52BCDC */
    color: #B509AC;
}

.badge-talk {
  background-color:  rgba(179, 177, 195, 0.18)  ; /* Pastel version of #52BCDC */
  color: #4c4a69;
}

.badge-milestone {
    background-color: rgba(150, 120, 200, 0.18); /* A pastel purple */
    color: #9678c8; /* A matching purple text color */
}

.badge-internship {
  background-color: rgb(81, 128, 113, 0.18); /* A pastel purple */
  color: #518071; /* A matching green text color */
}

.badge-award {
    background-color: rgba(240, 117, 0, 0.2);  /* Pastel orange */
    color: #fa7b2b;
}

/* News badge colors - Dark mode */
.dark-mode .badge-paper {
    background-color: rgba(82, 188, 220, 0.15);  /* Pastel version of #B509AC */
    color: #52BCDC;
}

.dark-mode .badge-talk {
  background-color:  rgba(179, 177, 195, 0.2)  ; /* Pastel version of #52BCDC */
  color: #cbc8f0;
}

.dark-mode .badge-milestone {
    background-color: rgba(120, 90, 180, 0.15); /* A darker pastel purple for dark mode */
    color: #785ab4; /* A matching darker purple text color */
}

.dark-mode .badge-internship {
  background-color: rgb(81, 128, 113, 0.15); /* A pastel purple */
  color: #74bca5; /* A matching green text color */
}

.dark-mode .badge-award {
    background-color: rgba(240, 146, 40, 0.15);  /* Keep pastel orange */
    color: #ff914e;
}

/* Style for horizontal rules that responds to theme */
hr {
    border-top: 1px solid var(--text-color) !important;
    opacity: 0.2;
}

/* Add these styles for text line height */
.tab-pane .bd-text {
    line-height: 1.4;
    margin-bottom: 1em;
}

.table td {
    line-height: 1.2 !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

/* Update HR styling for theme responsiveness */
hr {
    border-color: #ccc !important;
    opacity: 0.2;
}

.dark-mode hr {
    border-color: #555 !important;
}

/* nav-tabs */
/* Light */
.nav-tabs {
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
  transition: border-color 0.2s linear;
}

.nav-tabs .nav-link {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid transparent;
  transition: color 0.2s linear, border-color 0.2s linear;
}

.nav-tabs .nav-link:hover {
  border-color: var(--border-color);
  color: #B509AC;
  border-bottom-color: transparent;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #B509AC;
  border-color: var(--border-color);
  border-bottom-color: var(--bg-color);
}

/* Dark */
.dark-mode .nav-tabs {
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
  transition: border-color 0.2s linear;
}

.dark-mode .nav-tabs .nav-link {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  transition: color 0.2s linear, border-color 0.2s linear;
}

.dark-mode .nav-tabs .nav-link:hover {
  color: #52BCDC;
  border-color: var(--border-color);
  border-bottom-color: transparent;
  text-decoration: none;
}

.dark-mode .nav-tabs .nav-link.active {
  background-color: transparent;
  color: #52BCDC;
  border-color: var(--border-color);
  border-bottom-color: #1c1c1d;
  text-decoration: none;
}

.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark-mode .navbar-toggler {
  border-color: #E5E5E5;
  background-color: #1c1c1d;
} 

.sub-heading {
  color: #aaa;
  font-weight: 500;
  font-size: 16pt;
  float: left;
  margin-bottom: 0; 
  position: relative;
  top: -0.5em;  
  text-transform: lowercase;
  }

/* Styles for project page cards */
.project-section {
color: #aaa;
    font-weight: 500;
    font-size: 16pt;
    float: right;
    margin-bottom: 0;  
    position: relative;
    top: -0.5em;  
    text-transform: lowercase;
}

.publication-entry {
  margin-bottom: 1.5rem;
}

.pub-main-row {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.pub-content {
  flex: 1;
  padding: 0 0 0 0;
  text-align: justify;
}

.misc-main-row {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.misc-content {
  flex: 1;
  padding: 0.15rem 0 0 0;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.venue-badge {
  background-color: var(--badge-paper-bg);
  color: var(--theme-primary);
  padding: 0.2rem 0.2rem;
  border-radius: 4px;
  font-size: 0.9rem;
  min-width: 60px;
  text-align: center;
  border: 1px solid var(--theme-primary);
  width: max-content;
}

.pub-links-row {
  margin-left: 76px;
  margin-top: -.8rem;
}

.pub-links-row .btn-link {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--theme-primary);
}

.pub-links-row .btn-link:hover {
  text-decoration: underline;
}

.pub-links-row .btn-link[data-toggle="collapse"] {
  padding: 0;
  font-size: 0.9rem;
  text-decoration: none;
  margin-right: 1rem;
  color: var(--theme-primary);
}

.pub-links-row .btn-link:hover[data-toggle="collapse"] {
  text-decoration: underline;
}

.pub-links-row .collapse {
  margin-top: 0.5rem;
  background-color: var(--bg-color);
}

.collapse pre {
  margin: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,0.03);
  border-radius: 4px;
  color: var(--text-color);
}

/* Cards */
.card {
  background-color: transparent;
  border-color: var(--border-color);
  height: 100%;  /* Make all cards same height */
  display: flex;
  flex-direction: column;
  max-width: 260px;
  height: 100%;
}

.dark-mode .card {
  background-color: transparent;
  border-color: var(--border-color);
  height: 100%;  /* Make all cards same height */
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Card body and image */
.card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.25rem;
}

.card-img-top {
  width: 100%;
  height: 160px;  /* Fixed height for images */
  object-fit: cover;  /* Avoid image distortion */
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  /* margin: auto; */
}

/* Card links (Light) */
.card-link {
  background-color: transparent;
  color: #B509AC;
  border: 1px solid transparent;
  transition: color 0.2s linear, border-color 0.2s linear;
  margin-top: auto;
}

.card-link:hover {
  color: #B509AC;
  text-decoration: underline;
}

.card-link.active {
  background-color: transparent;
  color: #B509AC;
  text-decoration: none;
}

/* Card links (Dark) */
.dark-mode .card-link {
  background-color: transparent;
  color: #52BCDC;
  border: 1px solid transparent;
  transition: color 0.2s linear, border-color 0.2s linear;
  margin-top: auto;
}

.dark-mode .card-link:hover {
  color: #52BCDC;
  text-decoration: underline;
}

.dark-mode .card-link.active {
  background-color: transparent;
  color: #52BCDC;
  text-decoration: none;
}

/* Card Title */
.card-title {
  color: var(--text-color);
  font-size: 16px;
  flex: 1;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  margin-bottom: -1rem;
  font-weight: 550;
}

.dark-mode .card-title {
  color: #fff;
  font-size: 16px;
  flex: 1;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  margin-bottom: -1rem;
  font-weight: 550;
}

/* Card Text */
.card-text {
  color: var(--text-color);
  font-size: 14px;
  text-align: justify;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.dark-mode .card-text {
  color: #fff;
  font-size: 14px;
  text-align: justify;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

/* Card icons */
.card-icon {
  font-size: 1rem;
  color: var(--text-color);
  transition: color 0.3s ease;
  float: left;
}

.card-icon:hover {
  color: #B509AC;
  text-decoration: none;
}

/* Dark theme variant */
.dark-mode .card-icon {
  color: #fff; /* Adjust color for dark mode */
}

.dark-mode .card-icon:hover {
  color: #52BCDC; /* Keep the same hover color or adjust as needed */
  text-decoration: none;
}

/* Fix navbar theme responsiveness */
.navbar {
  background-color: #fff !important;
  transition: background-color 0.2s linear;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.dark-mode .navbar {
    background-color: #1c1c1d !important;
    border-bottom-color: #aaa;
}

.navbar-collapse {
  justify-content: flex-end !important;
  max-width: 800px;  /* Match your content max-width */
  margin: 0 auto;    /* Center the container */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .navbar {
      padding-left: 20px;
      padding-right: 20px;
  }
  
  .navbar-collapse {
      justify-content: center !important;
  }
  
  .navbar-nav {
      width: 100%;
      justify-content: center;
  }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8) !important;
    transition: color 0.2s linear;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #B509AC !important;
  transition: color 0.2s linear;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8) !important;
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #52BCDC !important;
  text-decoration: none;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,0.9) !important;
    transition: color 0.2s linear;
}

.dark-mode .navbar-light .navbar-brand {
    color: rgba(255,255,255,0.9) !important;
}

.dark-mode .navbar-light .navbar-brand:hover {
  color: rgba(255,255,255,0.9) !important;
  text-decoration: none;
}

/* Ensure navbar content is properly aligned */
.navbar-brand {
    margin-left: 0;
}

.navbar .container {
    max-width: none;
    padding: 0;
}

/* footer-text */
.dark-mode .footer-text {
    color: #fff;
    font-size: 14px;
}

.footer-text {
    color: var(--text-color);
    font-size: 14px;
}

.footer-text-ref {
    color: #B509AC;
    font-size: 14px;
}

.dark-mode .footer-text-ref {
  color: #52BCDC;
  font-size: 14px;
}

.footer-text-ref:hover {
    color: #B509AC;
    font-size: 14px;
    text-decoration: underline;
}

.dark-mode .footer-text-ref:hover {
    color: #52BCDC;
    font-size: 14px;
    text-decoration: underline;
}

/* footer body text */
.footer-bd-text {
  color: var(--text-color);
  font-size: 12px;
  text-align: justify;
  line-height: 0;
  margin-left: -0.5rem;
  font-style: italic;
}

.dark-mode .footer-bd-text {
  color: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 0;
}

.footer-bd-text-ref {
  color: #B509AC;
  font-size: 12px;
}

.dark-mode .footer-bd-text-ref {
color: #52BCDC;
font-size: 12px;
}

.footer-bd-text-ref:hover {
  color: #B509AC;
  font-size: 12px;
  text-decoration: underline;
}

.dark-mode .footer-bd-text-ref:hover {
  color: #52BCDC;
  font-size: 12px;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer-bd-text {
    color: var(--text-color);
    font-size: 12px;
    text-align: left;
    line-height: 0;
    margin-left: -3rem;
  }
}

.social-icon {
    font-size: 2rem;
    margin: 0 8px;
    color: var(--text-color);
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    color: #B509AC;
    text-decoration: none;
}

.social-icon:active {
  color: #B509AC;
  text-decoration: none;
}

/* Dark theme variant */
.dark-mode .social-icon {
    color: #fff; /* Adjust color for dark mode */
    text-decoration: none;
}

.dark-mode .social-icon:hover {
    color: #52BCDC; /* Keep the same hover color or adjust as needed */
    text-decoration: none;
}

.dark-mode .social-icon:active {
  color: #52BCDC; /* Keep the same hover color or adjust as needed */
  text-decoration: none;
}

/* Light and dark mode variables */
:root {
    --bg-color: #ffffff; /* Light mode background color */
    --border-color: #cccccc; /* Light mode border color */
    --text-color: #000000; /* Light mode text color */
    --label-bg-color: #e0e0e0; /* Light mode label background color */
    --label-text-color: #333333; /* Light mode label text color */
    --theme-primary: #B509AC; /* Updated primary theme color */
    --paper-bg: #b8c9e6;
    --milestone-bg: #c3e6c3;
    --award-bg: #e6d5b8;
}

.dark-mode {
    --bg-color: #1c1c1d; /* Dark mode background color */
    --border-color: #555555; /* Dark mode border color */
    --text-color: #ffffff; /* Dark mode text color */
    --label-bg-color: #2d2d2d; /* Dark mode label background color */
    --label-text-color: #ffffff; /* Dark mode label text color */
    --theme-primary: #52BCDC; /* Updated primary theme color for dark mode */
    --paper-bg: #4a5d82;    /* More saturated blue */
    --milestone-bg: #4a724a; /* More saturated green */
    --award-bg: #826b41;     /* More saturated gold */

  }
